<div id="container">
  <h1><%= t('.emergency_heading') %></h1>

  <h3><%= t('.report_crime_heading') %></h3>
  <p><%= raw t('.report_crime_text')%></p><br>

  <h3><%= t('.emergency_numbers_heading') %></h3>
  <p><%= raw t('.emergency_number_uk') %> </p>

  <p><%= raw t('.non_emergency_medical_uk') %> </p>

  <p><%= raw t('.emergency_international') %> </p>

  <p><%= raw t('.non_emergency_police_uk') %> </p>

  <p><%= raw t('.crime_stoppers') %> </p>

</div>
