<!DOCTYPE html>
<html>
  <head>
    <title>CrimeEye</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main">
      <%= render "shared/loader" %>

      <button class="openbtn" onclick="openNav()">☰</button>
      <button class="statsOpenbtn" onclick="openStats()">❯</button>
      <%= render "shared/sidebarnav" %>

      <%= yield %>
    </div>
  </body>
</html>
